.header-haikei{
  display: flex;
  justify-content: space-between;
  font-size: 0;
  background-color: #EC715F;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}

.nav-list-item{
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}