*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top{
  background-color: #EC715F;
  justify-content: space-between;
  font-size: 0;
  display: flex;
  width: 100%;
}

.list{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

.nav-list-item{
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
  list-style: none;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

#mv{
  width: 100%;
  height: 650px;
  text-align: center;
  color: #FAFAFA;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
}
