/*.header-haikei{*/
/*  background-color: #EC715F;*/
/*}*/

.logo img{
  height: 70px;
}

ul .list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

/*li{*/
/* float:left;*/
/* list-style:none;*/
/*}*/